
    :root {
      background: radial-gradient(white, whitesmoke, lightgrey, grey);
    }
    :root, body {
      height: 100%;
      margin: 0;
      font-family: system-ui, sans-serif;
    }
    aside.message-box {
      position: relative;
      font-size: x-large;
      font-weight: bold;
      color: white;
      background: silver;
      opacity: 0.618;
      border: thick solid grey;
      border-radius: 1em;
      padding: 1.5em 2em;
      min-width: 300px;
      max-width: 666px;
      width: 35vw;
      box-sizing: border-box;
    }
    aside.message-box:empty {
      display: none;
    }
    aside.bg {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: radial-gradient(white, whitesmoke, lightgrey, grey),
          url(phones.jpg);
      background-size: cover;
      background-position: center 38.2%;
      filter: grayscale(1.0) blur(12px);
      background-blend-mode: soft-light;
      z-index: -1;
    }
    article {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100%;
    }
    form {
      width: 61.8%;
      max-width: 300px;
    }
    button {
      border-radius: 1em;
      border: thick solid black;
      opacity: 0.85;
      font-size: larger;
      padding: 0.5em 1em;
      background: gray;
      color: white;
      font-weight: bold;
    }
    .center {
      text-align: center;
    }
    ul {
      font-size: xx-large;
      list-style-type: square;
    }
    ul li {
      background: black;
      margin: 0.25em;
      padding: 0.25em;
    }
    ul a {
      color: white;
    }
    footer {
      text-align: center;
      font-size: x-small;
      color: white;
    }
    footer a {
      color: white;
    }
